@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
}

.card {
  padding: 1rem;
}

.card_title {
  margin-bottom: 1em;
}

.card_body {
  background-color: #fff;
  text-align: center;
  padding: 1rem;
  border-radius: 0.1em;
}
