@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.section:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.section.max {
  flex: 70%;
}
.section.min {
  flex: 30%;
}

.cta {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 3;
}

H1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.btn {
  padding: 1rem 1.5rem;
  border: #fff solid 2px;
  cursor: pointer;
}

.btn:hover {
  background-color: #888888;
}

.first {
  background: url(ps.jpg) center/cover no-repeat;
}

.second {
  background: url(./xbox.jpg) center/cover no-repeat;
}
